h1 {
    text-align: center;
    padding-left: 280px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.form-control {
    margin-left: 50%;
    margin-top: 10px;
    width: 400px;
}

button {
    margin: 50%;
    margin-top: 20px;
}
