{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block title %}О проекте{% endblock %}


{% block body %}
<h1>Про нас</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus enim a tortor ornare ullamcorper. Pellentesque iaculis eget quam eget pharetra. Integer venenatis velit at finibus dictum. Morbi ac enim id felis rhoncus lobortis. Duis semper porttitor tortor, non ullamcorper lorem volutpat in. Curabitur condimentum erat a dui posuere, vitae dapibus ante suscipit. Maecenas mi elit, accumsan quis erat in, pharetra fringilla ex. Morbi sapien est, rutrum eget purus vitae, cursus scelerisque nunc. Donec pretium nisl et tellus egestas, at varius nunc dictum. Mauris hendrerit sem vel metus malesuada mattis. Phasellus quis mi consequat, aliquet nibh sed, sodales augue. Quisque placerat vestibulum elit, sed vehicula massa varius pellentesque.</p>

<p>Proin efficitur, leo quis efficitur sodales, metus sapien porta eros, at venenatis odio dui a erat. Donec id diam consectetur, ultrices augue vel, aliquam ante. Sed quis dolor erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer malesuada venenatis magna, quis dapibus nisi commodo eget. Etiam eu efficitur felis. Nulla pretium, arcu non luctus pharetra, quam velit fringilla metus, vitae efficitur lectus enim feugiat nunc. Nullam non quam lacus.</p>

<p>Integer vel est congue, efficitur enim eget, auctor mauris. Nunc pretium dictum ipsum, non tincidunt diam dignissim facilisis. Suspendisse eros turpis, hendrerit et tristique viverra, ultricies sit amet justo. Proin tincidunt orci et odio viverra egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis aliquam faucibus. Ut scelerisque justo quis rhoncus volutpat. Sed pharetra enim nec nunc bibendum aliquam. Morbi vitae pellentesque nunc. Nulla facilisi. Curabitur pulvinar dolor eget lacus ultrices pretium.</p>

{% endblock %}