{% extends 'base.html' %}

{% block title %}Добавление ученика{% endblock %}


{% block body %}
<div class="container px-4 py-5" id = "body">
    <h2 class="pb-2 border-bottom">Добавление ученика</h2>
    <form method="post" enctype = "multipart/form-data">
      <br>
      <div class="input-group">
        <input type="text" name="surname" id="surname" class="form-control" placeholder="Фамилия">
        <input type="text" name="name" id="name" class="form-control" placeholder="Имя">
        <input type="text" name="patronymic" id="patronymic" class="form-control" placeholder="Отчество">
      </div>
      <br>
      <input type="text" name="class" id="class" class="form-control" placeholder="Класс обучения"><br>
      {% for i in photo_list %}
          <input name={{ i }} id={{ i }} type="file" class="form-control">
          <br>
      {% endfor %}
      <div class="btn-group">
        <button type="submit" class="btn btn-outline-success" name="increase_photo_num">+</button>
        <button type="submit" class="btn btn-outline-danger" name="decrease_photo_num">-</button>
      </div>
      <button type="submit" class="btn btn-danger" name="add_student" onclick="onClick(document.getElementById('body'))">Добавить</button>
    </form>
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
</div>
{% endblock %}