<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{% block title %} {% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
      <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon_for_app.ico') }}" type="image/x-icon">
  </head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{url_for('static', filename = 'img/project-mars-icon.svg')}}" width="40" height="40">
        Проект МАРС
      </a>
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/instruction">Инструкция</a>
          </li>
        </ul>
      </div>
      {% if g.teacher_name %}
      <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            {{ g.teacher_name }}
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="/lk">Личный кабинет</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Выйти...</a></li>
          </ul>
        </div>
      {% else %}
      <div class="col-md-3 text-end">
        <a href="/login"><button type="button" class="btn btn-outline-danger me-2">Войти</button></a>
        <a href="/register"><button type="button" class="btn btn-danger">Регистрация</button></a>
      </div>
      {% endif %}
    </nav>


  <div class="body-main">{% block body %} {% endblock %}</div>


  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>


  <footer class="py-4 bg-dark text-center" id="footer">
    <div class="container">
      <p class="text-muted">&copy; Команда Mersenne×Twister, 2021-2022</p>
    </div>
  </footer>
</body>


</html>