{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/delete_student.css') }}">
{% endblock %}

{% block title %}Удаление ученика{% endblock %}

{% block bar %}
<div id="side-bar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Проект МАРС</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" style="margin-top: 30px;">
        <a href="/" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#home"></use></svg>
          Главная
        </a>
      </li>
      <li style="margin-top: 30px;">
        <a href="/about" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#speedometer2"></use></svg>
          Про нас
        </a>
      </li>
      <li style="margin-top: 30px;">
        <a href="/to-do" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#table"></use></svg>
          Инструкция
        </a>
      </li>
        <li style="margin-top: 30px;">
        <a href="/register" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#table"></use></svg>
          Зарегистрироваться
        </a>
      </li>
      <li style="margin-top: 30px;">
        <a href="/enter" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#table"></use></svg>
          Вход в ЛК
        </a>
      </li>
    </ul>
    <hr>
</div>
{% endblock %}

{% block body %}
<h1>Удалить ученика</h1>
<p>Имя: {{ name }}</p>
<form method="post" enctype = "multipart/form-data">
  <button type="submit" class="btn btn-success">Удалить</button>
</form>
{% endblock %}