{% extends 'base.html' %}


{% block title %}
Личный кабинет
{% endblock %}


{% block body %}
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Редактировать профиль: {{ student_name }}</h2><br>
    <a href={{ link }}><button class="btn btn-outline-primary" type="button" style="margin-bottom: 20px;">Изменить фотографии</button></a>
    <form method="post" enctype = "multipart/form-data">
        <div class="input-group has-validation" style="width: 400px">
            <span class="input-group-text" style="width: 100px">Фамилия</span>
            <input type="text" class="form-control" name="surname" placeholder="Surname" value={{ name_list[0] }}>
        </div><br>
        <div class="input-group has-validation" style="width: 400px">
            <span class="input-group-text" style="width: 100px">Имя</span>
            <input type="text" class="form-control" name="name" placeholder="Name" value={{ name_list[1] }}>
        </div><br>
        <div class="input-group has-validation" style="width: 400px">
            <span class="input-group-text" style="width: 100px">Отчество</span>
            <input type="text" class="form-control" name="patronymic" placeholder="Patronymic" value={{ name_list[2] }}>
        </div><br>
          <select class="form-select" id="grade" name="grade" required="" style="width: 200px">
            <option>{{ student_grade }}</option>
            {% if student_grade != "5 класс" %}
            <option>5 класс</option>
            {% endif %}
            {% if student_grade != "6 класс" %}
            <option>6 класс</option>
            {% endif %}
              {% if student_grade != "7 класс" %}
            <option>7 класс</option>
            {% endif %}
            {% if student_grade != "8 класс" %}
            <option>8 класс</option>
            {% endif %}
            {% if student_grade != "9 класс" %}
            <option>9 класс</option>
            {% endif %}
            {% if student_grade != "10 класс" %}
            <option>10 класс</option>
            {% endif %}
            {% if student_grade != "11 класс" %}
            <option>11 класс</option>
            {% endif %}
          </select><br><br>
        <button type="submit" class="btn btn-success">Обновить</button>
    </form>
</div>
{% endblock %}
