{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/imshow.css') }}">
{% endblock %}

{% block title %}

Изображение
{% endblock %}


{% block body %}
<body>
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Изображение</h2>
        <br>
        {% if num == '1' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/1.png') }}" height="400px"/>
        {% endif %}
        {% if num == '2' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/2.png') }}" height="400px"/>
        {% endif %}
        {% if num == '3' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/3.png') }}" height="400px"/>
        {% endif %}
        {% if num == '4' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/4.png') }}" height="400px"/>
        {% endif %}
        {% if num == '5' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/5.png') }}" height="400px"/>
        {% endif %}
        {% if num == '6' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/6.png') }}" height="400px"/>
        {% endif %}
        {% if num == '7' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/7.png') }}" height="400px"/>
        {% endif %}
        {% if num == '8' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/8.png') }}" height="400px"/>
        {% endif %}
        {% if num == '9' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/9.png') }}" height="400px"/>
        {% endif %}
        {% if num == '10' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/10.png') }}" height="400px"/>
        {% endif %}
        {% if num == '11' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/11.png') }}" height="400px"/>
        {% endif %}
        {% if num == '12' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/12.png') }}" height="400px"/>
        {% endif %}
        {% if num == '13' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/13.png') }}" height="400px"/>
        {% endif %}
        {% if num == '14' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/14.png') }}" height="400px"/>
        {% endif %}
        {% if num == '15' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/15.png') }}" height="400px"/>
        {% endif %}
        {% if num == '16' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/16.png') }}" height="400px"/>
        {% endif %}
        {% if num == '17' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/17.png') }}" height="400px"/>
        {% endif %}
        {% if num == '18' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/18.png') }}" height="400px"/>
        {% endif %}
        {% if num == '19' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/19.png') }}" height="400px"/>
        {% endif %}
        {% if num == '20' %}
        <img src="{{ url_for('static', filename='undefined_image_cache/20.png') }}" height="400px"/>
        {% endif %}
    </div>
</body>
{% endblock %}