{% extends 'base.html' %}


{% block title %}
Личный кабинет
{% endblock %}


{% block body %}
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Личный кабинет</h2>
    <br>
    <form method="post">
        <button class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
            Обновить данные
        </button>
    </form>
    <br>
    <h3 class="pb-3">Список учеников:</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Класс</th>
            <th scope="col">ФИО</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for el in students %}
            <tr>
                <th scope="row">{{ el[1] }}</th>
                <td>{{ el[0] }}</td>
                <td><a href={{ el[2] }}>
                    <button type="button" class="btn btn-outline-danger">Удалить</button>
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
