{% extends 'base.html' %}


{% block title %}

Личный кабинет
{% endblock %}


{% block body %}
<body>
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">{{ name }} - Личный кабинет</h2>
        <br>
        <a href={{ link }}>
            <button type="button" class="btn btn-danger">Добавить ученика</button>
        </a><br><br>
        <form method="post">
            <button type="submit" class="btn btn-success" id="btn-link">Обновить данные</button>
        </form><br>
        <a href={{ link_un }}>
            Нераспознанные ученики
        </a>
        <br><br>
        <h3 class="pb-3">Список учеников:</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Класс</th>
                <th scope="col">ФИО</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for el in students %}
                <tr>
                    <th scope="row">{{ el[1] }}</th>
                    <td>{{ el[0] }}</td>
                    <td><a href={{ el[2] }}>
                        <button type="button" class="btn btn-outline-danger">Удалить</button>
                    </td></a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}