{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block title %}Как работает{% endblock %}

{% block bar %}
<div id="side-bar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Страницы</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" style="margin-top: 30px;">
        <a href="/" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#home"></use></svg>
          Главная
        </a>
      </li>
      <li style="margin-top: 30px;">
        <a href="/about" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#speedometer2"></use></svg>
          Про нас
        </a>
      </li>
      <li style="margin-top: 30px;">
        <a href="/to-do" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#table"></use></svg>
          Инструкция
        </a>
      </li>
        <li style="margin-top: 30px;">
        <a href="/register" class="nav-link active">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#table"></use></svg>
          Зарегистрироваться
        </a>
      </li>
      <li style="margin-top: 30px;">
        <a href="/enter" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="20"><use xlink:href="#table"></use></svg>
          Вход в ЛК
        </a>
      </li>
    </ul>
    <hr>
</div>
{% endblock %}

{% block body %}
<h1>Создать учётную запись</h1>
<form method="post">
  <input type="text" name="name" id="name" class="form-control" placeholder="Ваше имя"><br>
  <input type="text" name="login" id="login" class="form-control" placeholder="Придумайте логин"><br>
  <input type="text" name="password" id="password" class="form-control" placeholder="Придумайте пароль"><br>
  <button type="submit" class="btn btn-success">Зарегистрироваться</button>
</form>
{% endblock %}