{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/undefined_students.css') }}">
{% endblock %}

{% block title %}

Личный кабинет
{% endblock %}


{% block body %}
<body>
    <div class="container px-4 py-5" id="featured-3">
        <form method="post" enctype = "multipart/form-data">
            <h2 class="pb-2 border-bottom">Нераспознанные ученики</h2>
            <br>
            <button type="submit" class="btn btn-danger">Сохранить и очистить</button>
            {% if error %}
            <div class="alert alert-warning text-start" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                Вы выбрали ученика на фото, но не выбрали оценку!
            </div>
            {% endif %}
            <br><br>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Фотография</th>
                    <th scope="col">Выбрать</th>
                    <th scope="col">Оценка</th>
                </tr>
                </thead>
                <tbody>
                    {% for el in fList %}
                    <tr>
                        <th scope="row">
                            <img src="{{ url_for('static', filename=el[0]) }}" height="400px"/>
                        </th>
                        <td>
                            <select name={{ el[1] }} class="form-select">
                            <option><a href="#" class="d-block text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                Ошибка
                            </a></option>
                            {% for x in nameList %}
                                <option><a class="dropdown-item">{{ x }}</a></option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                          <select name={{ el[2] }} class="form-select">
                          <option value><a href="#" class="d-block text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                              Оценка
                          </a></option>
                          <option><a class="dropdown-item">+</a></option>
                          <option><a class="dropdown-item">-</a></option>
                          </select>
                          <div class="invalid-feedback">
                            Please provide a valid state.
                          </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</body>
{% endblock %}