{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/undefined_students.css') }}">
{% endblock %}

{% block title %}

Редактировать фотографии
{% endblock %}


{% block body %}
<body>
    <div class="container px-4 py-5" id="featured-3">
        <form method="post" enctype = "multipart/form-data">
            <h2 class="pb-2 border-bottom">{{ name }}. Изменить фотографии.</h2>
            <br>
            <button type="submit" class="btn btn-danger" onclick="onClick(document.getElementById('featured-3'))">Удалить выбранные фото</button><br><br>
            <a href={{ link }}><button type="button" class="btn btn-primary">Добавить фотографии</button></a>
            <br><br>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Фотография</th>
                    <th scope="col">Выбрать</th>
                </tr>
                </thead>
                <tbody>
                    {% for file in files_list %}
                    <tr>
                        <th scope="row">
                            <img src="{{ url_for('static', filename=file) }}" height="400px"/>
                        </th>
                        <td>
                            <input type="checkbox" class="form-check-input" id={{ file }} name = {{ file }}>
                            <label class="form-check-label" for={{ el }}>Удалить</label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <a href="/lk"><button class="btn btn-outline-danger">Вернуться в личный кабинет</button></a>
    </div>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
{% endblock %}
